img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}

.hidden {
  display: none;
}

#quote {
  display: flex;
  position: absolute;
  bottom: 5%;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  font-weight: 400;
  animation: quoteFadein 0.8s linear;
}
@keyframes clockFadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.clock_style {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 30%;
  width: 100%;
  color: white;
  font-weight: 500;
  font-size: 150px;
  animation: clockFadein 0.8s linear;
}
@keyframes greetingFadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#greeting {
  display: flex;
  position: absolute;
  width: 100%;
  top: 50%;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 45px;
  font-weight: 300;
  animation: greetingFadein 0.8s linear;
}

#todo-form {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 60%;
}

#todo-form input {
  border: none;
  border-bottom: 2px solid white;
  width: 500px;
  height: 50px;
  background-color: transparent;
  font-size: 30px;
  color: white;
}

#todo-form input::placeholder {
  color: white;
  text-align: center;
}

#todo-form input:focus {
  outline: none;
}

#todo-list {
  display: block;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 70%;
  size: 40px;
  color: white;
}
@keyframes quoteFadein {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes loginFadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.login_style {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  width: 100%;
  animation: loginFadein 3s linear;
}

#login-form input {
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  color: white;
  width: 500px;
  height: 50px;
  font-size: 50px;
  text-align: center;
}

#login-form input::placeholder {
  color: white;
  font-size: 30px;
  text-align: center;
}

#login-form input:focus {
  outline: none;
}

#login-form button {
  margin-right: 50px;
  border: none;
  background: transparent;
  color: white;
  cursor: pointer;
  font-size: 30px;
}
